.card{
    display: flex;
}
.container{
    background-image: url('background.jpg');;
}
.number{
    display: flex;
    justify-content: center;
   align-self: center;
}
button{
    background-color: #4CAF50;
color: #fff;
}
button:hover{
background-color: #3e8e41;

}